:80 {
	reverse_proxy /mail http://host.docker.internal:8181
	reverse_proxy /mail/* http://host.docker.internal:8181

	reverse_proxy /jobs http://host.docker.internal:8282
	reverse_proxy /jobs/* http://host.docker.internal:8282

	reverse_proxy /locks http://host.docker.internal:8383
	reverse_proxy /locks/* http://host.docker.internal:8383

	reverse_proxy /ingestion http://host.docker.internal:8484
	reverse_proxy /ingestion/* http://host.docker.internal:8484

	reverse_proxy /migration http://host.docker.internal:8585
	reverse_proxy /migration/* http://host.docker.internal:8585

	reverse_proxy /sinks http://host.docker.internal:8686
	reverse_proxy /sinks/* http://host.docker.internal:8686

	reverse_proxy /sources http://host.docker.internal:8787
	reverse_proxy /sources/* http://host.docker.internal:8787
}
